<mat-card class="margin-bottom">
  <mat-card-header>
    <div mat-card-avatar class="header-image" (click)="toggle = !toggle" >
      <mat-icon *ngIf="toggle == false">menu</mat-icon>
      <mat-icon *ngIf="toggle == true">clear</mat-icon>
    </div>
    <mat-card-title>Ventanilla: {{ ventanilla.numero}}</mat-card-title>
    <mat-card-subtitle>
      *Las categorias nos permiten priorizar la atencion de la ciudadania
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="toggle == true">
    <form (ngSubmit)="update()">
      <mat-input-container class="full-width">
        <input matInput ngModel placeholder="Numero de ventanilla" name="numero" [(ngModel)]="ventanilla.numero">
      </mat-input-container>
      <div class="text-right">
        <button mat-button type="submit"><mat-icon>save</mat-icon> Actualizar</button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer align="end" *ngIf="toggle == false">
    <button mat-icon-button (click)="destroy()"><mat-icon>delete</mat-icon></button>
  </mat-card-footer>
</mat-card>
