<mat-card class="margin-bottom">
    <mat-card-header>
        <div (click)="toggle = !toggle" class="header-image" mat-card-avatar>
            <mat-icon *ngIf="toggle == false">menu</mat-icon>
            <mat-icon *ngIf="toggle == true">clear</mat-icon>
        </div>
        <mat-card-title>
            NORMATIVA {{ articulo.normativa.codigo | uppercase }} {{ articulo.numero }} {{ articulo.inciso | uppercase }}</mat-card-title>
        <mat-card-subtitle>
            <p>{{ articulo.descripcion }}</p>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="toggle == true">
        <form (ngSubmit)="update()">
            <mat-input-container class="full-width">
                <input [(ngModel)]="articulo.numero" matInput name="numero" ngModel placeholder="numero">
            </mat-input-container>
            <mat-input-container class="full-width">
                <input [(ngModel)]="articulo.inciso" matInput name="inciso" ngModel placeholder="Inciso. Ej. c">
            </mat-input-container>
            <mat-input-container class="full-width">
                <input [(ngModel)]="articulo.descripcion" matInput name="descripcion" ngModel placeholder="Descripcion">
            </mat-input-container>
            <div class="text-right">
                <button mat-button type="submit">
                    <mat-icon>save</mat-icon>
                    Actualizar
                </button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-footer *ngIf="toggle == false" align="end">
        <button (click)="destroy()" mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>
