<md-card class="margin-bottom">
  <md-card-header>
    <div md-card-avatar class="header-image" (click)="toggle = !toggle" >
      <md-icon *ngIf="toggle == false">menu</md-icon>
      <md-icon *ngIf="toggle == true">clear</md-icon>
    </div>
    <md-card-title>{{ categoria.descripcion}}</md-card-title>
    <md-card-subtitle>
      *Las categorias nos permiten priorizar la atencion de la ciudadania
    </md-card-subtitle>
  </md-card-header>
  <md-card-content *ngIf="toggle == true">
    <form (ngSubmit)="update()">
      <md-input-container class="full-width">
        <input mdInput ngModel placeholder="Descripcion" name="descripcion" [(ngModel)]="categoria.descripcion">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput ngModel placeholder="Acronimo" name="acronimo" [(ngModel)]="categoria.acronimo">
      </md-input-container>
        <md-input-container class="full-width">
            <input mdInput type="number" min="1" max="10" ngModel placeholder="Prioridad" name="prioridad" [(ngModel)]="categoria.prioridad">
        </md-input-container>
      <div class="text-right">
        <button md-button type="submit"><md-icon>save</md-icon> Actualizar</button>
      </div>
    </form>
  </md-card-content>
  <md-card-footer align="end" *ngIf="toggle == false">
    <button md-icon-button (click)="destroy()"><md-icon>delete</md-icon></button>
  </md-card-footer>
</md-card>