<md-card class="margin-bottom">
  <md-card-header>
    <div md-card-avatar class="header-image" (click)="toggle = !toggle" >
      <md-icon *ngIf="toggle == false">menu</md-icon>
      <md-icon *ngIf="toggle == true">clear</md-icon>
    </div>
    <md-card-title>{{ tipo_tramite.nombre | uppercase }}</md-card-title>
    <md-card-subtitle>
        {{ tipo_tramite.descripcion | uppercase }}
    </md-card-subtitle>
  </md-card-header>
  <md-card-content *ngIf="toggle == true">
    <form (ngSubmit)="update()">
      <md-input-container class="full-width">
        <input mdInput ngModel placeholder="Nombre" name="nombre" [(ngModel)]="tipo_tramite.nombre">
      </md-input-container>
      <md-input-container class="full-width">
        <input mdInput ngModel placeholder="Descripcion" name="descripcion" [(ngModel)]="tipo_tramite.descripcion">
      </md-input-container>
      <div class="text-right">
        <button md-button type="submit"><md-icon>save</md-icon> Actualizar</button>
      </div>
    </form>
  </md-card-content>
  <md-card-footer align="end" *ngIf="toggle == false">
    <button md-icon-button (click)="destroy()"><md-icon>delete</md-icon></button>
  </md-card-footer>
</md-card>