<md-card>
  <md-card-header>
    <div md-card-avatar class="header-image">
      <md-icon>recent_actors</md-icon>
    </div>
    <md-card-title>Registrar Asignacion de Categoria</md-card-title>
    <md-card-subtitle>*La asignacion de categorias permite asignar a una ventanilla el tipo de tramites a atender.</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <form (submit)="store()" [formGroup]="asignacionCategoriaGroup">
        <md-select placeholder="Ventanilla" name="ventanilla_id"  formControlName="ventanilla_id" class="full-width margin-bottom">
            <md-option *ngFor="let ventanilla of ventanillas" [value]="ventanilla.id">
                VENTANILLA: {{ventanilla.numero}}
            </md-option>
        </md-select>
        <md-select placeholder="Categoria" name="categoria_id"  formControlName="categoria_id" class="full-width margin-bottom">
            <md-option *ngFor="let categoria of categorias" [value]="categoria.id">
              {{categoria.descripcion | uppercase}}
            </md-option>
        </md-select>

      <div class="text-right">
        <button md-button type="submit" [disabled]="!asignacionCategoriaGroup.valid && asignacionCategoriaGroup.touched"> <md-icon>save</md-icon> Guardar</button>
      </div>
    </form>
  </md-card-content>
</md-card>