<mat-card>
    <mat-card-header>
        <div class="header-image" mat-card-avatar>
            <mat-icon>assignment</mat-icon>
        </div>
        <mat-card-title>Registrar Articulo</mat-card-title>
        <mat-card-subtitle>*Los articulos son parte de una normativa.</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="store()" [formGroup]="articuloGroup">
            <mat-select *ngIf="normativas != null" class="full-width" formControlName="normativa_id" name="normativa_id"
                        ngModel placeholder="Normativa">
                <mat-option *ngFor="let normativa of normativas"
                            [value]="normativa.id">{{ normativa.codigo | uppercase }}</mat-option>
            </mat-select>
            <mat-input-container class="full-width">
                <input formControlName="numero" matInput name="numero" ngModel placeholder="Numero de articulo"
                       type="number">
                <mat-error *ngIf="!articuloGroup.get('numero').valid && articuloGroup.get('numero').touched">
                    Por favor ingresa el numero de articulo
                </mat-error>
            </mat-input-container>
            <mat-input-container class="full-width">
                <input formControlName="inciso" matInput name="inciso" ngModel placeholder="Inciso. Ej. c">
                <mat-error *ngIf="!articuloGroup.get('inciso').valid && articuloGroup.get('inciso').touched">
                    Por favor ingresa el inciso
                </mat-error>
            </mat-input-container>
            <mat-input-container class="full-width">
                <input formControlName="descripcion" matInput name="descripcion" ngModel placeholder="Descripcion">
                <mat-error *ngIf="!articuloGroup.get('descripcion').valid && articuloGroup.get('descripcion').touched">
                    Por favor ingresa la descripcion
                </mat-error>
            </mat-input-container>
            <div class="text-right">
                <button [disabled]="!articuloGroup.valid && articuloGroup.touched" mat-button>
                    <mat-icon>save</mat-icon>
                    Guardar
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
