<div class="row">
    <div class="col-md-3">
        <mat-list class="list">
            <h3 mat-subheader>Noticias<span *ngIf="router.url == '/noticias/nuevo'"> | Nuevo</span> <span *ngIf="router.url == '/noticias/lista'"> | Lista</span>
            </h3>
            <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line><a routerLink="nuevo" class="list-link">Registrar Nuevo</a></h4>
                <p mat-line> *Aqui registra tu nueva noticia</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line><a routerLink="lista" class="list-link">Listar Noticias</a></h4>
                <p mat-line> *Aqui encontraras el listado</p>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="col-md-9 padding">
        <router-outlet></router-outlet>
    </div>
</div>
