<div class="row">
    <div class="col-md-3">
        <mat-list class="list">
            <h3 mat-subheader>Categoria de Tramite<span
                *ngIf="router.url == '/categoria-tramites/nuevo'"> | Nuevo</span> <span
                *ngIf="router.url == '/categoria-tramites/lista'"> | Lista</span>
            </h3>
            <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line><a class="list-link" routerLink="nuevo">Registrar Nuevo</a></h4>
                <p mat-line> *Aqui registra nueva categoria de tramite</p>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>folder</mat-icon>
                <h4 mat-line><a class="list-link" routerLink="lista">Listar Categorias de Tramite</a></h4>
                <p mat-line> *Aqui encontraras el listado</p>
            </mat-list-item>
        </mat-list>
    </div>
    <div class="col-md-9 padding">
        <router-outlet></router-outlet>
    </div>
</div>
