<mat-card class="margin-bottom">
    <mat-card-header>
        <div (click)="toggle = !toggle" class="header-image" mat-card-avatar>
            <mat-icon *ngIf="toggle == false">menu</mat-icon>
            <mat-icon *ngIf="toggle == true">clear</mat-icon>
        </div>
        <mat-card-title>{{ categoria_tramite.descripcion }}
            <span *ngIf="categoria_tramite.duracion_horas > 0">(DURACION: {{ categoria_tramite.duracion_horas}}
                HORAS)</span>
        </mat-card-title>
        <mat-card-subtitle>
            <mat-chip-list>
                <mat-chip color="primary"
                          selected="true">{{ categoria_tramite.tipo_tramite.nombre | uppercase }}</mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="toggle == true">
        <form (ngSubmit)="update()">
            <mat-input-container class="full-width">
                <input [(ngModel)]="categoria_tramite.descripcion" matInput name="descripcion" ngModel
                       placeholder="Descripcion">
            </mat-input-container>
            <mat-input-container class="full-width">
                <input [(ngModel)]="categoria_tramite.duracion_horas" matInput max="72" min="0"
                       name="duracion_horas" ngModel placeholder="Duracion en Horas" type="number">
            </mat-input-container>
            <div class="text-right">
                <button mat-button type="submit">
                    <mat-icon>save</mat-icon>
                    Actualizar
                </button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-footer *ngIf="toggle == false" align="end">
        <button (click)="destroy()" mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>
