<div class="row">
    <div class="col-md-offset-3 col-md-3 margin-top">
        <md-card *ngIf="usuario!=null" class="card">
            <md-card-header>
                <div md-card-avatar class="header-image">
                    <md-icon>account_circle</md-icon>
                </div>
                <md-card-title>Perfil de Usuario</md-card-title>
                <md-card-subtitle>*Informacion de usuario autenticado.</md-card-subtitle>
            </md-card-header>
            <md-card-content>
                <form>
                    <md-input-container class="full-width">
                        <input mdInput [(ngModel)]="usuario.cuenta" name="cuenta" disabled>
                    </md-input-container>
                    <md-input-container class="full-width">
                        <input mdInput [(ngModel)]="usuario.nombres" name="nombres" disabled>
                    </md-input-container>
                    <md-input-container class="full-width">
                        <input mdInput [(ngModel)]="usuario.apellidos" name="apellidos" disabled>
                    </md-input-container>
                </form>
            </md-card-content>
        </md-card>
    </div>
</div>