<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <mat-icon>video_label</mat-icon>
    </div>
    <mat-card-title>Registrar Ventanilla</mat-card-title>
    <mat-card-subtitle>*Permite registrar nuevas ventanillas de atencion.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="store()" [formGroup]="ventanillaGroup">
      <mat-input-container class="full-width">
        <input matInput type="text" placeholder="Numero de ventanilla" name="numero" formControlName="numero">
        <mat-error *ngIf="!ventanillaGroup.get('numero').valid && ventanillaGroup.get('numero').touched">
          *Por favor complete el campo de numero de ventanilla
        </mat-error>
      </mat-input-container>
      <div class="text-right">
        <button mat-button type="submit" [disabled]="!ventanillaGroup.valid && ventanillaGroup.touched"> <mat-icon>save</mat-icon> Guardar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
