<md-card>
    <md-card-header>
        <div md-card-avatar class="header-image">
            <md-icon>assignment</md-icon>
        </div>
        <md-card-title>Registrar Noticia</md-card-title>
        <md-card-subtitle>*Las noticias apareceran en la parte superior del visor</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <form (ngSubmit)="store()" [formGroup]="noticiasGroup">
            <md-input-container class="full-width">
                <input mdInput placeholder="Descripcion" ngModel name="descripcion" formControlName="descripcion">
                <md-error *ngIf="!noticiasGroup.get('descripcion').valid && noticiasGroup.get('descripcion').touched">
                    Por favor ingresa la descripcion
                </md-error>
            </md-input-container>
            <div class="text-right">
                <button md-button [disabled]="!noticiasGroup.valid && noticiasGroup.touched" >
                    <md-icon>save</md-icon>
                    Guardar
                </button>
            </div>
        </form>
    </md-card-content>
</md-card>