<div class="row">
  <div class="col-md-offset-3 col-md-6">
      <div class="box">
          <md-card class="login-form">
              <md-card-content>
                  <form (submit)="autenticar()" [formGroup]="loginGroup" >
                      <md-input-container class="full-width">
                          <input mdInput placeholder="Cuenta" formControlName="cuenta" name="cuenta" autofocus>
                      </md-input-container>
                      <md-input-container class="full-width">
                          <input mdInput placeholder="Password" type="password" formControlName="password" name="password">
                      </md-input-container>
                      <div class="text-center">
                          <button md-button type="submit">Iniciar Sesion</button>
                      </div>
                  </form>
              </md-card-content>
          </md-card>
      </div>
  </div>
</div>