<mat-card class="card">
    <mat-card-header>
        <img class="card-logo" src="assets/logo.png">
        <legend class="legend-title">SARTRA</legend>
    </mat-card-header>
    <mat-card-content>
        <form (submit)="autenticar()" [formGroup]="loginGroup" class="login-form">
            <mat-input-container class="full-width">
                <input autofocus formControlName="cuenta"
                       oninput="this.value = this.value.toLowerCase()"
                       matInput name="cuenta" placeholder="Cuenta">
            </mat-input-container>
            <mat-input-container class="full-width">
                <input formControlName="password" matInput name="password" placeholder="Password" type="password">
            </mat-input-container>
            <div class="button-container">
                <button color="primary" mat-button mat-raised-button type="submit">INGRESAR AL SISTEMA</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
