<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <mat-icon>recent_actors</mat-icon>
    </div>
    <mat-card-title>Registrar Asignacion de Ventanillas</mat-card-title>
    <mat-card-subtitle>*La asignacion de ventanillas permite asignar a una ventanilla a un cajero.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form (submit)="store()" [formGroup]="asignacionVentanillaGroup">
      <mat-select placeholder="Ventanilla" name="ventanilla_id"  formControlName="ventanilla_id" class="full-width margin-bottom">
        <mat-option *ngFor="let ventanilla of ventanillas" [value]="ventanilla.id">
          VENTANILLA: {{ventanilla.numero}}
        </mat-option>
      </mat-select>
      <mat-select placeholder="Cajero" name="cajero_id"  formControlName="cajero_id" class="full-width margin-bottom">
        <mat-option *ngFor="let cajero of cajeros" [value]="cajero.id">
          {{ cajero.user.nombres | uppercase }} {{ cajero.user.apellidos | uppercase }}
        </mat-option>
      </mat-select>

      <div class="text-right">
        <button mat-button type="submit" [disabled]="!asignacionVentanillaGroup.valid && asignacionVentanillaGroup.touched"> <mat-icon>save</mat-icon> Guardar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
