<mat-card class="margin-bottom">
  <mat-card-header>
    <div mat-card-avatar class="header-image" (click)="toggle = !toggle" >
      <mat-icon *ngIf="toggle == false">menu</mat-icon>
      <mat-icon *ngIf="toggle == true">clear</mat-icon>
    </div>
    <mat-card-title>{{ video.descripcion }}</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip color="primary" selected="true" *ngIf="video.habilitado == true">Habilitado</mat-chip>
        <mat-chip color="accent" selected="true" *ngIf="video.habilitado == false">Desabilitado</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="toggle == true">
    <form (ngSubmit)="update()">
      <md-radio-group class="full-width" placeholder="Habilitado" id="habilitado" name="habilitado" [(ngModel)]="video.habilitado">
        <div class="row margin-bottom">
          <div class="col-md-6">
            <mat-radio-button value=1>Habilitado</mat-radio-button>
          </div>
          <div class="col-md-6">
            <mat-radio-button value=0>Desabilitado</mat-radio-button>
          </div>
        </div>
      </md-radio-group>
      <mat-input-container class="full-width">
        <input matInput ngModel placeholder="Descripcion" name="descripcion" [(ngModel)]="video.descripcion">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput ngModel placeholder="uRL" name="url" [(ngModel)]="video.url" disabled>
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput ngModel placeholder="Subido por" name="subido_por" [(ngModel)]="user" disabled>
      </mat-input-container>

      <div class="text-right">
        <button mat-button type="submit"><mat-icon>save</mat-icon> Actualizar</button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer align="end" *ngIf="toggle == false">
    <button mat-icon-button (click)="destroy()"><mat-icon>delete</mat-icon></button>
  </mat-card-footer>
</mat-card>
