<md-card class="margin-bottom">
    <md-card-header>
        <div md-card-avatar class="header-image" (click)="toggle = !toggle" >
            <md-icon *ngIf="toggle == false">menu</md-icon>
            <md-icon *ngIf="toggle == true">clear</md-icon>
        </div>
        <md-card-title>{{ noticia.descripcion }}</md-card-title>
        <md-card-subtitle>
            <md-chip-list>
                <md-chip color="primary" selected="true" *ngIf="noticia.habilitado == true">Habilitado</md-chip>
                <md-chip color="accent" selected="true" *ngIf="noticia.habilitado == false">
                    Desabilitado
                </md-chip>
            </md-chip-list>
        </md-card-subtitle>
    </md-card-header>
    <md-card-content *ngIf="toggle == true">
        <form (ngSubmit)="update()">
            <md-radio-group class="full-width" placeholder="Habilitado" id="habilitado" name="habilitado" [(ngModel)]="noticia.habilitado">
                <div class="row margin-bottom">
                    <div class="col-md-6">
                        <md-radio-button value=1>Habilitado</md-radio-button>
                    </div>
                    <div class="col-md-6">
                        <md-radio-button value=0>Desabilitado</md-radio-button>
                    </div>
                </div>
            </md-radio-group>
            <md-input-container class="full-width">
                <input mdInput ngModel placeholder="Descripcion" name="descripcion" [(ngModel)]="noticia.descripcion">
            </md-input-container>
            <div class="text-right">
                <button md-button type="submit"><md-icon>save</md-icon> Actualizar</button>
            </div>
        </form>
    </md-card-content>
    <md-card-footer align="end" *ngIf="toggle == false">
        <button md-icon-button (click)="destroy()"><md-icon>delete</md-icon></button>
    </md-card-footer>
</md-card>