<mat-card class="margin-bottom">
    <mat-card-header>
        <div (click)="toggle = !toggle" class="header-image" mat-card-avatar>
            <mat-icon *ngIf="toggle == false">menu</mat-icon>
            <mat-icon *ngIf="toggle == true">clear</mat-icon>
        </div>
        <mat-card-title>{{ noticia.descripcion }}</mat-card-title>
        <mat-card-subtitle>
            <mat-chip-list>
                <mat-chip *ngIf="noticia.habilitado == true" color="primary" selected="true">Habilitado</mat-chip>
                <mat-chip *ngIf="noticia.habilitado == false" color="accent" selected="true">
                    Desabilitado
                </mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="toggle == true"><form (ngSubmit)="update()">
            <md-radio-group [(ngModel)]="noticia.habilitado" class="full-width" id="habilitado" name="habilitado"
                            placeholder="Habilitado">
                <div class="row margin-bottom">
                    <div class="col-md-6">
                        <mat-radio-button value=1>Habilitado</mat-radio-button>
                    </div>
                    <div class="col-md-6">
                        <mat-radio-button value=0>Desabilitado</mat-radio-button>
                    </div>
                </div>
            </md-radio-group>
            <mat-input-container class="full-width">
                <input [(ngModel)]="noticia.descripcion" matInput name="descripcion" ngModel placeholder="Descripcion">
            </mat-input-container>
            <div class="text-right">
                <button mat-button type="submit">
                    <mat-icon>save</mat-icon>
                    Actualizar
                </button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-footer *ngIf="toggle == false" align="end">
        <button (click)="destroy()" mat-icon-button>
            <mat-icon>delete</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>
