<mat-card class="margin-bottom">
  <mat-card-header>
    <div mat-card-avatar class="header-image" (click)="toggle = !toggle" >
      <mat-icon *ngIf="toggle == false">menu</mat-icon>
      <mat-icon *ngIf="toggle == true">clear</mat-icon>
    </div>
    <mat-card-title>{{ normativa.descripcion }}</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip color="primary" selected="true" *ngIf="normativa.vigente == true">Vigente</mat-chip>
        <mat-chip color="accent" selected="true" *ngIf="normativa.vigente == false">
          Caducado
        </mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="toggle == true">
    <form (ngSubmit)="update()">
      <md-radio-group class="full-width" placeholder="Vigencia de la normativa" id="vigente" name="vigente" [(ngModel)]="normativa.vigente">
        <div class="row margin-bottom">
          <div class="col-md-6">
            <mat-radio-button value=1>Vigente</mat-radio-button>
          </div>
          <div class="col-md-6">
            <mat-radio-button value=0>Caducado</mat-radio-button>
          </div>
        </div>
      </md-radio-group>
      <mat-input-container class="full-width">
        <input matInput ngModel placeholder="codigo" name="codigo" [(ngModel)]="normativa.codigo">
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput ngModel placeholder="Descripcion" name="descripcion" [(ngModel)]="normativa.descripcion">
      </mat-input-container>
      <div class="text-right">
        <button mat-button type="submit"><mat-icon>save</mat-icon> Actualizar</button>
      </div>
    </form>
  </mat-card-content>
  <mat-card-footer align="end" *ngIf="false">
    <button mat-icon-button (click)="destroy()"><mat-icon>delete</mat-icon></button>
  </mat-card-footer>
</mat-card>
