<mat-card class="margin-bottom">
  <mat-card-header>
      <div mat-card-avatar class="header-image" (click)="toggle = !toggle" >
          <mat-icon *ngIf="toggle == false">menu</mat-icon>
          <mat-icon *ngIf="toggle == true">clear</mat-icon>
      </div>
    <mat-card-title>
        VENTANILLA {{ asignacion_ventanilla.ventanilla.numero }} -
                   {{ asignacion_ventanilla.cajero.user.nombres | uppercase }} {{ asignacion_ventanilla.cajero.user.apellidos | uppercase }}
    </mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip color="primary" selected="true" *ngIf="asignacion_ventanilla.activo">Activo</mat-chip>
        <mat-chip color="accent" selected="true" *ngIf="!asignacion_ventanilla.activo">Inactivo</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="toggle == true">
      <form (ngSubmit)="update()">
          <md-radio-group class="full-width" placeholder="Activo" id="activo" name="activo" [(ngModel)]="asignacion_ventanilla.activo">
              <div class="row margin-bottom">
                  <div class="col-md-6">
                      <mat-radio-button value=1>Activo</mat-radio-button>
                  </div>
                  <div class="col-md-6">
                      <mat-radio-button value=0>Inactivo</mat-radio-button>
                  </div>
              </div>
          </md-radio-group>
          <div class="text-right">
              <button mat-button type="submit"><mat-icon>save</mat-icon> Actualizar</button>
          </div>
      </form>
  </mat-card-content>
  <mat-card-footer align="end" *ngIf="toggle == false">
    <button mat-icon-button (click)="destroy()"><mat-icon>delete</mat-icon></button>
  </mat-card-footer>
</mat-card>
