<md-toolbar color="primary" *ngIf="router.url != '/visor' && router.url != '/login'">
    <span>S.E.R.E.C.I.</span>
    <span class="fill-remaining-space"></span>
    <button md-icon-button routerLink="/visor"><md-icon>cast</md-icon></button>
    <button md-icon-button [mdMenuTriggerFor]="appCategorias"><md-icon>recent_actors</md-icon></button>
    <button md-icon-button routerLink="/asignacion-ventanillas"><md-icon>video_label</md-icon></button>
    <button md-icon-button [mdMenuTriggerFor]="appTramites"><md-icon>description</md-icon></button>
    <button md-icon-button routerLink="tramites"><md-icon>receipt</md-icon></button>
    <button md-icon-button routerLink="/noticias"><md-icon>assignment</md-icon></button>
    <button md-icon-button routerLink="/normativas"><md-icon>library_books</md-icon></button>
    <button md-icon-button routerLink="/usuarios"><md-icon>account_circle</md-icon></button>
    <button md-icon-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon></button>
</md-toolbar>
<md-menu #appMenu="mdMenu">
    <button md-menu-item routerLink="/perfil"> Perfil </button>
    <button md-menu-item (click)="logout()"> Cerrar Sesion</button>
</md-menu>
<md-menu #appCategorias="mdMenu">
    <button md-menu-item routerLink="/categorias"> Categorias</button>
    <button md-menu-item routerLink="/ventanillas"> Ventanillas</button>
    <button md-menu-item routerLink="/asignacion-categorias"> Asignacion de Categorias</button>
</md-menu>
<md-menu #appTramites="mdMenu">
    <button md-menu-item routerLink="/tipo-tramites"> Tipo de Tramites</button>
    <button md-menu-item routerLink="/categoria-tramites"> Categoria de Tramites</button>
</md-menu>
<section class="content">
    <router-outlet></router-outlet>
</section>