<md-toolbar class="navegacion" color="primary" *ngIf="router.url != '/visor' && router.url != '/login' && usuarioService.getUser()!= null ">
    <span>SASTRA - SISTEMA DE ATENCION Y SEGUIMIENTO DE TRAMITES</span>
    <span class="fill-remaining-space"></span>
    <button md-icon-button *ngIf="usuarioService.getUser().tipo == 'administrador' || usuarioService.getUser().tipo == 'comunicador'" routerLink="/fichas"><md-icon mdTooltip="Fichas">cast</md-icon></button>
    <button md-icon-button *ngIf="usuarioService.getUser().tipo == 'administrador' || usuarioService.getUser().tipo == 'comunicador'" routerLink="/visor"><md-icon mdTooltip="Visor">cast</md-icon></button>
    <button md-icon-button *ngIf="usuarioService.getUser().tipo == 'administrador' || usuarioService.getUser().tipo == 'comunicador'" routerLink="/videos-upload"><md-icon mdTooltip="Video">cast_connected</md-icon></button>
    <button md-icon-button *ngIf="usuarioService.getUser().tipo == 'administrador' || usuarioService.getUser().tipo == 'comunicador'" [mdMenuTriggerFor]="appCategorias"><md-icon mdTooltip="Categorias">recent_actors</md-icon></button>
    <button md-icon-button *ngIf="usuarioService.getUser().tipo == 'administrador' || usuarioService.getUser().tipo == 'comunicador'" routerLink="/asignacion-ventanillas"><md-icon mdTooltip="Asignación Ventanillas">video_label</md-icon></button>
    <button md-icon-button *ngIf="usuarioService.getUser().tipo == 'administrador' || usuarioService.getUser().tipo == 'comunicador'" [mdMenuTriggerFor]="appTramites"><md-icon mdTooltip="Tramites">description</md-icon></button>
    <button md-icon-button routerLink="tramites" *ngIf="usuarioService.getUser().tipo == 'cajero'"><md-icon mdTooltip="Asignación Tramites">receipt</md-icon></button>
    <button md-icon-button *ngIf="usuarioService.getUser().tipo == 'administrador' || usuarioService.getUser().tipo == 'comunicador'" routerLink="/noticias"><md-icon mdTooltip="Noticias">assignment</md-icon></button>
    <button md-icon-button *ngIf="usuarioService.getUser().tipo == 'administrador' || usuarioService.getUser().tipo == 'comunicador'" [mdMenuTriggerFor]="appNormativas"><md-icon mdTooltip="Normativas">library_books</md-icon></button>
    <button md-icon-button *ngIf="usuarioService.getUser().tipo == 'administrador'" routerLink="/usuarios"><md-icon mdTooltip="Usuarios">account_circle</md-icon></button>
    {{ usuarioService.getUser().tipo }}
    <button md-icon-button [mdMenuTriggerFor]="appMenu"><md-icon>menu</md-icon></button>
</md-toolbar>
<md-menu #appMenu="mdMenu">
    <button md-menu-item routerLink="/perfil"> Perfil </button>
    <button md-menu-item (click)="logout()"> Cerrar Sesion</button>
</md-menu>
<md-menu #appCategorias="mdMenu">
    <button md-menu-item routerLink="/categorias"> Categorias</button>
    <button md-menu-item routerLink="/ventanillas"> Ventanillas</button>
    <button md-menu-item routerLink="/asignacion-categorias"> Asignacion de Categorias</button>
</md-menu>
<md-menu #appTramites="mdMenu">
    <button md-menu-item routerLink="/tipo-tramites"> Tipo de Tramites</button>
    <button md-menu-item routerLink="/categoria-tramites"> Categoria de Tramites</button>
</md-menu>
<md-menu #appNormativas="mdMenu">
    <button md-menu-item routerLink="/normativas"> Normativas</button>
    <button md-menu-item routerLink="/articulos"> Articulos</button>
</md-menu>
<section class="content">
    <router-outlet></router-outlet>
</section>