<mat-card class="margin-bottom">
    <mat-card-header>
        <div (click)="toggle = !toggle" class="header-image" mat-card-avatar>
            <mat-icon *ngIf="toggle == false">menu</mat-icon>
            <mat-icon *ngIf="toggle == true">clear</mat-icon>
        </div>
        <mat-card-title>{{ usuario.nombres | uppercase }} {{ usuario.apellidos | uppercase }}</mat-card-title>
        <mat-card-subtitle>
            <mat-chip-list>
                <mat-chip *ngIf="usuario.activo == true" color="primary" selected="true">Activado</mat-chip>
                <mat-chip *ngIf="usuario.activo == false" color="accent" selected="true">
                    Desactivado
                </mat-chip>
            </mat-chip-list>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngIf="toggle == true">
        <form (ngSubmit)="update()">
            <mat-input-container class="full-width">
                <input [(ngModel)]="usuario.cuenta" matInput name="cuenta" ngModel placeholder="cuenta">
            </mat-input-container>
            <mat-input-container class="full-width">
                <input [(ngModel)]="usuario.nombres" matInput name="nombres" ngModel placeholder="nombres">
            </mat-input-container>
            <mat-input-container class="full-width">
                <input [(ngModel)]="usuario.apellidos" matInput name="apellidos" ngModel placeholder="apellidos">
            </mat-input-container>
            <mat-input-container class="full-width">
                <input [(ngModel)]="usuario.carnet" matInput name="carnet" ngModel placeholder="carnet">
            </mat-input-container>
            <mat-input-container class="full-width">
                <input [(ngModel)]="usuario.celular" matInput name="celular" ngModel placeholder="celular">
            </mat-input-container>
            <div class="text-right">
                <button mat-button type="submit">
                    <mat-icon>save</mat-icon>
                    Actualizar
                </button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-footer *ngIf="toggle == false" align="end">
        <button (click)="desactivar()" *ngIf="usuario.activo == true" color="accent" mat-icon-button>
            <mat-icon>remove</mat-icon>
        </button>
        <button (click)="activar()" *ngIf="usuario.activo == false" color="primary" mat-icon-button>
            <mat-icon>restore</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>
