<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <mat-icon>assignment</mat-icon>
    </div>
    <mat-card-title>Registrar Normativa</mat-card-title>
    <mat-card-subtitle>*Las normativas son aplicadas acorde a ley</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="store()" [formGroup]="normativaGroup">

      <mat-input-container class="full-width">
        <input matInput placeholder="Codigo: Res. 080/2012" ngModel name="codigo" formControlName="codigo">
        <mat-error *ngIf="!normativaGroup.get('codigo').valid && normativaGroup.get('codigo').touched">
          Por favor ingrese el codigo segun normativa
        </mat-error>
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput placeholder="Descripcion" ngModel name="descripcion" formControlName="descripcion">
        <mat-error *ngIf="!normativaGroup.get('descripcion').valid && normativaGroup.get('descripcion').touched">
          Por favor ingresa la descripcion
        </mat-error>
      </mat-input-container>
      <div class="text-right">
        <button mat-button [disabled]="!normativaGroup.valid && normativaGroup.touched" >
          <mat-icon>save</mat-icon>
          Guardar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
