<mat-card>
    <mat-card-header>
        <div class="header-image" mat-card-avatar>
            <mat-icon>cast_connected</mat-icon>
        </div>
        <mat-card-title>Registrar Video</mat-card-title>
        <mat-card-subtitle>*Los videos seran visualizados en el visor</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form (ngSubmit)="store()" *ngIf="!uploading" [formGroup]="videoGroup">
            <mat-input-container class="full-width">
                <input formControlName="descripcion" matInput name="descripcion" placeholder="Descripcion">
                <mat-error *ngIf="!videoGroup.get('descripcion').valid && videoGroup.get('descripcion').touched">
                    Por favor ingresa la descripcion
                </mat-error>
            </mat-input-container>
            <!--      <label for="video" class="video-file"> <mat-icon>file_upload</mat-icon><br> Seleccionar Video</label>-->
            <input #video id="video" name="video" placeholder="Video" type="file">
            <div class="text-right">
                <button mat-button>
                    <mat-icon>save</mat-icon>
                    Guardar
                </button>
            </div>
        </form>
        <mat-progress-spinner *ngIf="uploading" class="progress-spinner-center" color="primary"
                              mode="indeterminate"></mat-progress-spinner>
    </mat-card-content>
</mat-card>
