<div class="row">
  <div class="col-md-3">
    <mat-list class="list">
      <h3 mat-subheader>Subida de videos<span *ngIf="router.url == '/videos-upload/nuevo'"> | Nuevo</span> <span *ngIf="router.url == '/videos-upload/lista'"> | Lista</span></h3>
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line><a routerLink="nuevo" class="list-link">Registrar Nuevo</a></h4>
        <p mat-line> *Aqui registra tu nuevo video</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>folder</mat-icon>
        <h4 mat-line><a routerLink="lista" class="list-link">Listar Videos</a></h4>
        <p mat-line> *Aqui encontraras el listado</p>
      </mat-list-item>
    </mat-list>
  </div>
  <div class="col-md-9 padding">
    <router-outlet></router-outlet>
  </div>
</div>
