<div class="row">
  <div class="col-md-4">
    <md-list class="list">
      <h3 md-subheader>Subida de videos<span *ngIf="router.url == '/videos-upload/nuevo'"> | Nuevo</span> <span *ngIf="router.url == '/videos-upload/lista'"> | Lista</span></h3>
      <md-list-item>
        <md-icon md-list-icon>folder</md-icon>
        <h4 md-line><a routerLink="nuevo" class="list-link">Registrar Nuevo</a></h4>
        <p md-line> *Aqui registra tu nuevo video</p>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>folder</md-icon>
        <h4 md-line><a routerLink="lista" class="list-link">Listar Videos</a></h4>
        <p md-line> *Aqui encontraras el listado</p>
      </md-list-item>
    </md-list>
  </div>
  <div class="col-md-7 padding">
    <router-outlet></router-outlet>
  </div>
</div>