<mat-card>
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <mat-icon>assignment</mat-icon>
    </div>
    <mat-card-title>Registrar Categoria de Tramite</mat-card-title>
    <mat-card-subtitle>*Las categorias de tramite que tienen un tipo de tramite</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form (ngSubmit)="store()" [formGroup]="categoriaTramiteGroup">
      <mat-select ngModel placeholder="Tipo de tramite" name="tipo_tramite_id" formControlName="tipo_tramite_id" class="full-width">
        <mat-option *ngFor="let tipo_tramite of tipo_tramites" [value]="tipo_tramite.id">
          {{ tipo_tramite.nombre | uppercase }}
        </mat-option>
      </mat-select>
      <mat-input-container class="full-width">
        <input matInput placeholder="Descripcion" ngModel name="descripcion" formControlName="descripcion">
        <mat-error *ngIf="!categoriaTramiteGroup.get('descripcion').valid && categoriaTramiteGroup.get('descripcion').touched">
          Por favor ingresa la descripcion
        </mat-error>
      </mat-input-container>
      <mat-input-container class="full-width">
        <input matInput placeholder="Duracion en horas" ngModel name="duracion_horas" formControlName="duracion_horas" type="number" min="0" max="72">
        <mat-error *ngIf="!categoriaTramiteGroup.get('duracion_horas').valid && categoriaTramiteGroup.get('duracion_horas').touched">
          Por favor ingresa la duracion de horas [0 - 72] que tarde esta categoria
        </mat-error>
      </mat-input-container>
      <div class="text-right">
        <button mat-button [disabled]="!categoriaTramiteGroup.valid && categoriaTramiteGroup.touched" >
          <mat-icon>save</mat-icon>
          Guardar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
