<mat-card>
    <mat-card-header>
        <div class="header-image" mat-card-avatar>
            <mat-icon>recent_actors</mat-icon>
        </div>
        <mat-card-title>Registrar Categoria</mat-card-title>
        <mat-card-subtitle>*Las categoria permite definir la prioridad de atencion</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form (submit)="store()" [formGroup]="categoriaGroup">
            <mat-input-container class="full-width">
                <input formControlName="descripcion" matInput name="descripcion" placeholder="Descripcion">
                <mat-error
                    *ngIf="!categoriaGroup.get('descripcion').valid && categoriaGroup.get('descripcion').touched">
                    *Por favor complete el campo descripcion
                </mat-error>
            </mat-input-container>
            <mat-input-container class="full-width">
                <input formControlName="acronimo" matInput name="acronimo" placeholder="Acronimo">
                <mat-error *ngIf="!categoriaGroup.get('acronimo').valid && categoriaGroup.get('acronimo').touched">
                    *Por favor complete el campo acronimo
                </mat-error>
            </mat-input-container>
            <mat-select class="full-width margin-bottom" formControlName="prioridad" name="prioridad"
                        placeholder="Prioridad">
                <mat-option *ngFor="let prioridad of prioridades" [value]="prioridad.value">
                    {{prioridad.value}}
                </mat-option>
            </mat-select>
            <div class="text-right">
                <button [disabled]="!categoriaGroup.valid && categoriaGroup.touched" mat-button type="submit">
                    <mat-icon>save</mat-icon>
                    Guardar
                </button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
