<div class="row" *ngIf="ventanilla == null">
    <div class="col-md-offset-3 col-md-6">
        <div class="box margin-top" *ngFor="let asignacion_ventanilla of asignacion_ventanillas">
            <button md-raised-button
                    class="button-full"
                    color="primary"
                    (click)="seleccionarVentanilla(asignacion_ventanilla.ventanilla)" >
                <span class="bigger-font">VENTANILLA {{ asignacion_ventanilla.ventanilla.numero }}</span>
            </button>
        </div>
    </div>
</div>
<div class="ventanilla" *ngIf="ventanilla != null">{{ ventanilla.numero }}</div>
<div class="row" *ngIf="ventanilla != null">
    <div class="col-md-12">
        <button md-button class="next" color="accent" *ngIf="estado == 'atendido'" (click)="llamarFicha()">
            <md-icon>play_arrow</md-icon>
            <br>Siguiente
        </button>
        <div class="current-ficha" *ngIf="ficha != null">
            {{ ficha.numero | uppercase }}   |  {{ ficha.descripcion | uppercase }}  |   {{ ficha.estado_ficha| uppercase}}
        </div>

        <div class="box" *ngIf="estado == 'ventanilla'">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form (ngSubmit)="buscar()" [formGroup]="busquedaSolicitanteGroup">
                        <div class="row">
                            <div class="col-md-8">
                                <md-input-container class="full-width">
                                    <input mdInput name="busqueda_solicitante" formControlName="busqueda_solicitante" placeholder="Buscar solicitante">
                                    <md-error *ngIf="!busquedaSolicitanteGroup.get('busqueda_solicitante').valid && busquedaSolicitanteGroup.get('busqueda_solicitante').touched">
                                        Por favor ingresa nombres, apellidos, carnet o celular del solicitante
                                    </md-error>
                                </md-input-container>
                            </div>
                            <div class="col-md-4 text-left full-width">
                                <button md-button type="submit"
                                        [disabled]="!busquedaSolicitanteGroup.valid && busquedaSolicitanteGroup.touched">Buscar</button>
                            </div>
                        </div>
                    </form>
                    <form *ngIf="paso == 1.1" (submit)="guardarSolicitante()" [formGroup]="solicitanteGroup">
                        <md-input-container class="full-width">
                            <input mdInput placeholder="nombres" name="nombres" formControlName="nombres">
                            <md-error *ngIf="!solicitanteGroup.get('nombres').valid && solicitanteGroup.get('nombres').touched">
                                Por favor ingresa los nombres del solicitante
                            </md-error>
                        </md-input-container>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="apellidos" name="apellidos" formControlName="apellidos">
                            <md-error *ngIf="!solicitanteGroup.get('apellidos').valid && solicitanteGroup.get('apellidos').touched">
                                Por favor ingresa los apellidos del solicitante
                            </md-error>
                        </md-input-container>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="carnet" name="carnet" formControlName="carnet">
                            <md-error *ngIf="!solicitanteGroup.get('carnet').valid && solicitanteGroup.get('carnet').touched">
                                Por favor ingresa el carnet del solicitante
                            </md-error>
                        </md-input-container>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="celular" name="celular" formControlName="celular">
                            <md-error *ngIf="!solicitanteGroup.get('celular').valid && solicitanteGroup.get('celular').touched">
                                Por favor ingresa el celular del solicitante
                            </md-error>
                        </md-input-container>
                        <div class="text-right">
                            <button md-button>Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="box" *ngIf="paso == 1.2">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <table>
                        <thead>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>CARNET</th>
                            <th>CELULAR</th>
                            <th>SELECCIONAR</th>
                        </thead>
                        <tbody *ngFor="let record of solicitantes">
                            <td>{{ record.nombres | uppercase }}</td>
                            <td>{{ record.apellidos | uppercase }}</td>
                            <td>{{ record.carnet | uppercase }}</td>
                            <td>{{ record.celular | uppercase }}</td>
                            <td class="text-left">
                                <button md-icon-button (click)="seleccionarSolicitante(record)">
                                    <md-icon>check</md-icon>
                                </button>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="box" *ngIf="solicitante && (paso == 2 || paso == 3 || paso ==3.1 || paso == 3.2 || paso == 4) ">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h6>SOLICITANTE</h6>
                    <table>
                        <thead>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>CARNET</th>
                            <th>CELULAR</th>
                        </thead>
                        <tbody>
                            <td>{{ solicitante.nombres | uppercase }}</td>
                            <td>{{ solicitante.apellidos | uppercase }}</td>
                            <td>{{ solicitante.carnet | uppercase }}</td>
                            <td>{{ solicitante.celular | uppercase }}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="box" *ngIf="solicitante && paso == 2">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <md-select class="full-width margin-top"
                               placeholder="Tipo de Tramite"
                               name="tipo_tramite_id"
                               [(ngModel)]="tipo_tramite_id"
                               (ngModelChange)="getCategoriaTramites(tipo_tramite_id)"
                                required>
                        <md-option *ngFor="let tipo_tramite of tipo_tramites" [value]="tipo_tramite.id">
                            {{ tipo_tramite.nombre | uppercase }}
                        </md-option>
                    </md-select>
                    <md-select *ngIf="categoria_tramites != null"
                               class="full-width margin-top"
                               placeholder="Categoria de Tramite"
                               name="categoria_tramite_id"
                               [(ngModel)]="tramite.categoria_tramite_id"
                               (ngModelChange)="seleccionarCategoriaTramite(tramite.categoria_tramite_id)"
                                required>
                        <md-option *ngFor="let categoria_tramite of categoria_tramites" [value]="categoria_tramite.id">
                            {{ categoria_tramite.descripcion | uppercase }}
                        </md-option>
                    </md-select>
                    <div class="text-right margin-top" *ngIf="categoria_tramites != null">
                        <button md-button (click)="irPaso3()">Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="box" *ngIf="categoria_tramite != null && (paso == 3 || paso == 3.1 || paso == 3.2 || paso == 4)">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h6>TRAMITE</h6>
                    <table>
                        <thead>
                            <th>TIPO</th>
                            <th>CATEGORIA</th>
                            <th>DURACION</th>
                        </thead>
                        <tbody>
                            <td>{{ categoria_tramite.tipo_tramite.descripcion | uppercase }}</td>
                            <td>{{ categoria_tramite.descripcion | uppercase }}</td>
                            <td>
                                <span *ngIf="categoria_tramite.duracion_horas == 0">
                                    INMEDIATO
                                </span>
                                <span *ngIf="categoria_tramite.duracion_horas > 0">
                                    {{ categoria_tramite.duracion_horas }} HORAS
                                </span>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="box" *ngIf="categoria_tramite != null && (paso == 3 || paso == 3.1 || paso == 3.2)">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form (submit)="buscarInscrito()" [formGroup]="busquedaInscritoGroup">
                        <div class="row">
                            <div class="col-md-8">
                                <md-input-container class="full-width">
                                    <input mdInput placeholder="Buscar Inscrito" name="busqueda_inscrito" formControlName="busqueda_inscrito">
                                </md-input-container>
                            </div>
                            <div class="col-md-4 text-left full-width">
                                <button md-button type="submit">Buscar</button>
                            </div>
                        </div>
                    </form>
                    <form (submit)="guardarInscrito()" *ngIf="paso == 3.1" [formGroup]="inscritoGroup">
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Nombres" name="nombres" formControlName="nombres">
                        </md-input-container>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Apellidos" name="apellidos" formControlName="apellidos">
                        </md-input-container>
                        <div class="text-right">
                            <button md-button type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="box" *ngIf="paso == 3.2">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <table>
                        <thead>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                            <th>SELECCIONAR</th>
                        </thead>
                        <tbody *ngFor="let record of inscritos">
                            <td>{{ record.nombres | uppercase }}</td>
                            <td>{{ record.apellidos | uppercase }}</td>
                            <td class="text-left">
                                <button md-icon-button (click)="seleccionarInscrito(record)">
                                    <md-icon>check</md-icon>
                                </button>
                            </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="box" *ngIf="paso == 4">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h6>INSCRITO</h6>
                    <table>
                        <thead>
                            <th>NOMBRES</th>
                            <th>APELLIDOS</th>
                        </thead>
                        <tbody>
                            <td>{{ inscrito.nombres | uppercase }}</td>
                            <td>{{ inscrito.apellidos | uppercase  }}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="paso == 4">
            <div class="col-md-offset-3 col-md-6">
                <div class="box">
                    <h6>SOLITUD O AUTORIZACION</h6>
                    <div class="checkbox-section">
                        <md-checkbox class="checkbox-item" name="rectificiacion" [(ngModel)]="solicitud_autorizacion.rectificacion">RECTIFICACION</md-checkbox>
                        <md-checkbox class="checkbox-item" name="complementacion" [(ngModel)]="solicitud_autorizacion.complementacion">COMPLEMENTACION</md-checkbox>
                        <md-checkbox class="checkbox-item" name="ratificacion" [(ngModel)]="solicitud_autorizacion.ratificacion">RATIFICACION</md-checkbox>
                    </div>
                    <div class="checkbox-section">
                        <md-checkbox class="checkbox-item" name="cambio" [(ngModel)]="solicitud_autorizacion.cambio">CAMBIO</md-checkbox>
                        <md-checkbox class="checkbox-item" name="cancelacion" [(ngModel)]="solicitud_autorizacion.cancelacion">CANCELACION</md-checkbox>
                        <md-checkbox class="checkbox-item" name="reposicion" [(ngModel)]="solicitud_autorizacion.reposicion">REPOSICION</md-checkbox>
                        <md-checkbox class="checkbox-item" name="traspaso" [(ngModel)]="solicitud_autorizacion.traspaso">TRASPASO</md-checkbox>
                    </div>
                </div>
                <div class="box">
                    <h6>TRAMITE - INFORMACION ADICIONAL</h6>
                    <form (submit)="guardarTramite()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box">
                                    <md-checkbox class="checkbox-item" name="con_prueba" [(ngModel)]="tramite.con_prueba">CON PRUEBA</md-checkbox>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box">
                                    <md-select class="full-width" placeholder="Parentesco de solicitante" [(ngModel)]="tramite.parentesco" name="parentesco" required>
                                        <md-option value="interesado">INTERESADO</md-option>
                                        <md-option value="familiar">FAMILIAR</md-option>
                                        <md-option value="apoderado">APODERADO</md-option>
                                    </md-select>
                                </div>
                            </div>
                        </div>
                        <md-input-container class="full-width">
                            <input mdInput placeholder="Glosa" [(ngModel)]="tramite.glosa" name="glosa">
                        </md-input-container>
                        <div class="text-right">
                            <button md-button> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>