<div *ngIf="ventanilla == null" class="row">
    <div class="col-md-offset-3 col-md-6">
        <div *ngFor="let asignacion_ventanilla of asignacion_ventanillas" class="box margin-top">
            <button (click)="seleccionarVentanilla(asignacion_ventanilla.ventanilla)"
                    class="button-full"
                    color="primary"
                    mat-raised-button>
                <span class="bigger-font">VENTANILLA {{ asignacion_ventanilla.ventanilla.numero }}</span>
            </button>
        </div>
    </div>
</div>
<div *ngIf="ventanilla != null" class="ventanilla">{{ ventanilla.numero }}</div>
<div *ngIf="ventanilla != null" class="row">
    <div class="col-md-12">
        <button (click)="llamarFicha()" *ngIf="estado == 'atendido'" class="next" color="accent" mat-button>
            <mat-icon>play_arrow</mat-icon>
            <br>Siguiente
        </button>
        <div *ngIf="ficha != null" class="current-ficha">
            {{ ficha.numero | uppercase }}   |  {{ ficha.descripcion | uppercase }}
            |   {{ ficha.estado_ficha| uppercase}}
        </div>

        <div *ngIf="estado == 'ventanilla'" class="box">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form (ngSubmit)="buscar()" [formGroup]="busquedaSolicitanteGroup">
                        <div class="row">
                            <div class="col-md-8">
                                <mat-input-container class="full-width">
                                    <input formControlName="busqueda_solicitante" matInput name="busqueda_solicitante"
                                           placeholder="Buscar solicitante">
                                    <mat-error
                                        *ngIf="!busquedaSolicitanteGroup.get('busqueda_solicitante').valid && busquedaSolicitanteGroup.get('busqueda_solicitante').touched">
                                        Por favor ingresa nombres, apellidos, carnet o celular del solicitante
                                    </mat-error>
                                </mat-input-container>
                            </div>
                            <div class="col-md-4 text-left full-width">
                                <button [disabled]="!busquedaSolicitanteGroup.valid && busquedaSolicitanteGroup.touched"
                                        mat-button
                                        type="submit">
                                    Buscar
                                </button>
                            </div>
                        </div>
                    </form>
                    <form (submit)="guardarSolicitante()" *ngIf="paso == 1.1" [formGroup]="solicitanteGroup">
                        <mat-input-container class="full-width">
                            <input formControlName="nombres" matInput name="nombres" placeholder="nombres">
                            <mat-error
                                *ngIf="!solicitanteGroup.get('nombres').valid && solicitanteGroup.get('nombres').touched">
                                Por favor ingresa los nombres del solicitante
                            </mat-error>
                        </mat-input-container>
                        <mat-input-container class="full-width">
                            <input formControlName="apellidos" matInput name="apellidos" placeholder="apellidos">
                            <mat-error
                                *ngIf="!solicitanteGroup.get('apellidos').valid && solicitanteGroup.get('apellidos').touched">
                                Por favor ingresa los apellidos del solicitante
                            </mat-error>
                        </mat-input-container>
                        <mat-input-container class="full-width">
                            <input formControlName="carnet" matInput name="carnet" placeholder="carnet">
                            <mat-error
                                *ngIf="!solicitanteGroup.get('carnet').valid && solicitanteGroup.get('carnet').touched">
                                Por favor ingresa el carnet del solicitante
                            </mat-error>
                        </mat-input-container>
                        <mat-input-container class="full-width">
                            <input formControlName="celular" matInput name="celular" placeholder="celular">
                            <mat-error
                                *ngIf="!solicitanteGroup.get('celular').valid && solicitanteGroup.get('celular').touched">
                                Por favor ingresa el celular del solicitante
                            </mat-error>
                        </mat-input-container>
                        <div class="text-right">
                            <button mat-button>Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div *ngIf="paso == 1.2" class="box">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <table>
                        <thead>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>CARNET</th>
                        <th>CELULAR</th>
                        <th>SELECCIONAR</th>
                        </thead>
                        <tbody *ngFor="let record of solicitantes">
                        <td>{{ record.nombres | uppercase }}</td>
                        <td>{{ record.apellidos | uppercase }}</td>
                        <td>{{ record.carnet | uppercase }}</td>
                        <td>{{ record.celular | uppercase }}</td>
                        <td class="text-left">
                            <button (click)="seleccionarSolicitante(record)" mat-icon-button>
                                <mat-icon>check</mat-icon>
                            </button>
                        </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngIf="solicitante && (paso == 2 || paso == 3 || paso ==3.1 || paso == 3.2 || paso == 4) " class="box">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h6>SOLICITANTE</h6>
                    <table>
                        <thead>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>CARNET</th>
                        <th>CELULAR</th>
                        </thead>
                        <tbody>
                        <td>{{ solicitante.nombres | uppercase }}</td>
                        <td>{{ solicitante.apellidos | uppercase }}</td>
                        <td>{{ solicitante.carnet | uppercase }}</td>
                        <td>{{ solicitante.celular | uppercase }}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngIf="solicitante && paso == 2" class="box">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <mat-select (ngModelChange)="getCategoriaTramites(tipo_tramite_id)"
                                [(ngModel)]="tipo_tramite_id"
                                class="full-width margin-top"
                                name="tipo_tramite_id"
                                placeholder="Tipo de Tramite"
                                required>
                        <mat-option *ngFor="let tipo_tramite of tipo_tramites" [value]="tipo_tramite.id">
                            {{ tipo_tramite.nombre | uppercase }}
                        </mat-option>
                    </mat-select>
                    <mat-select (ngModelChange)="seleccionarCategoriaTramite(tramite.categoria_tramite_id)"
                                *ngIf="categoria_tramites != null"
                                [(ngModel)]="tramite.categoria_tramite_id"
                                class="full-width margin-top"
                                name="categoria_tramite_id"
                                placeholder="Categoria de Tramite"
                                required>
                        <mat-option *ngFor="let categoria_tramite of categoria_tramites" [value]="categoria_tramite.id">
                            {{ categoria_tramite.descripcion | uppercase }}
                        </mat-option>
                    </mat-select>
                    <div *ngIf="categoria_tramites != null" class="text-right margin-top">
                        <button (click)="irPaso3()" mat-button>Seleccionar</button>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="categoria_tramite != null && (paso == 3 || paso == 3.1 || paso == 3.2 || paso == 4)" class="box">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h6>TRAMITE</h6>
                    <table>
                        <thead>
                        <th>TIPO</th>
                        <th>CATEGORIA</th>
                        <th>DURACION</th>
                        </thead>
                        <tbody>
                        <td>{{ categoria_tramite.tipo_tramite.descripcion | uppercase }}</td>
                        <td>{{ categoria_tramite.descripcion | uppercase }}</td>
                        <td>
                                <span *ngIf="categoria_tramite.duracion_horas == 0">
                                    INMEDIATO
                                </span>
                            <span *ngIf="categoria_tramite.duracion_horas > 0">
                                    {{ categoria_tramite.duracion_horas }} HORAS
                                </span>
                        </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngIf="categoria_tramite != null && (paso == 3 || paso == 3.1 || paso == 3.2)" class="box">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <form (submit)="buscarInscrito()" [formGroup]="busquedaInscritoGroup">
                        <div class="row">
                            <div class="col-md-8">
                                <mat-input-container class="full-width">
                                    <input formControlName="busqueda_inscrito" matInput name="busqueda_inscrito"
                                           placeholder="Buscar Inscrito">
                                </mat-input-container>
                            </div>
                            <div class="col-md-4 text-left full-width">
                                <button mat-button type="submit">Buscar</button>
                            </div>
                        </div>
                    </form>
                    <form (submit)="guardarInscrito()" *ngIf="paso == 3.1" [formGroup]="inscritoGroup">
                        <mat-input-container class="full-width">
                            <input formControlName="nombres" matInput name="nombres" placeholder="Nombres">
                        </mat-input-container>
                        <mat-input-container class="full-width">
                            <input formControlName="apellidos" matInput name="apellidos" placeholder="Apellidos">
                        </mat-input-container>
                        <div class="text-right">
                            <button mat-button type="submit">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div *ngIf="paso == 3.2" class="box">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <table>
                        <thead>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        <th>SELECCIONAR</th>
                        </thead>
                        <tbody *ngFor="let record of inscritos">
                        <td>{{ record.nombres | uppercase }}</td>
                        <td>{{ record.apellidos | uppercase }}</td>
                        <td class="text-left">
                            <button (click)="seleccionarInscrito(record)" mat-icon-button>
                                <mat-icon>check</mat-icon>
                            </button>
                        </td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div *ngIf="paso == 4" class="box">
            <div class="row">
                <div class="col-md-offset-3 col-md-6">
                    <h6>INSCRITO</h6>
                    <table>
                        <thead>
                        <th>NOMBRES</th>
                        <th>APELLIDOS</th>
                        </thead>
                        <tbody>
                        <td>{{ inscrito.nombres | uppercase }}</td>
                        <td>{{ inscrito.apellidos | uppercase  }}</td>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div *ngIf="paso == 4" class="row">
            <div class="col-md-offset-3 col-md-6">
                <div class="box">
                    <h6>SOLITUD O AUTORIZACION</h6>
                    <div class="checkbox-section">
                        <md-checkbox [(ngModel)]="solicitud_autorizacion.rectificacion" class="checkbox-item"
                                     name="rectificiacion">RECTIFICACION
                        </md-checkbox>
                        <md-checkbox [(ngModel)]="solicitud_autorizacion.complementacion" class="checkbox-item"
                                     name="complementacion">COMPLEMENTACION
                        </md-checkbox>
                        <md-checkbox [(ngModel)]="solicitud_autorizacion.ratificacion" class="checkbox-item"
                                     name="ratificacion">RATIFICACION
                        </md-checkbox>
                    </div>
                    <div class="checkbox-section">
                        <md-checkbox [(ngModel)]="solicitud_autorizacion.cambio" class="checkbox-item" name="cambio">
                            CAMBIO
                        </md-checkbox>
                        <md-checkbox [(ngModel)]="solicitud_autorizacion.cancelacion" class="checkbox-item"
                                     name="cancelacion">CANCELACION
                        </md-checkbox>
                        <md-checkbox [(ngModel)]="solicitud_autorizacion.reposicion" class="checkbox-item"
                                     name="reposicion">REPOSICION
                        </md-checkbox>
                        <md-checkbox [(ngModel)]="solicitud_autorizacion.traspaso" class="checkbox-item"
                                     name="traspaso">TRASPASO
                        </md-checkbox>
                    </div>
                </div>
                <div class="box">
                    <h6>TRAMITE - INFORMACION ADICIONAL</h6>
                    <form (submit)="guardarTramite()">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box">
                                    <md-checkbox [(ngModel)]="tramite.con_prueba" class="checkbox-item"
                                                 name="con_prueba">CON PRUEBA
                                    </md-checkbox>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="box">
                                    <mat-select [(ngModel)]="tramite.parentesco" class="full-width"
                                                name="parentesco" placeholder="Parentesco de solicitante" required>
                                        <mat-option value="interesado">INTERESADO</mat-option>
                                        <mat-option value="familiar">FAMILIAR</mat-option>
                                        <mat-option value="apoderado">APODERADO</mat-option>
                                    </mat-select>
                                </div>
                            </div>
                        </div>
                        <mat-input-container class="full-width">
                            <input [(ngModel)]="tramite.glosa" matInput name="glosa" placeholder="Glosa">
                        </mat-input-container>
                        <div class="text-right">
                            <button mat-button> Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
