.next{
    display: block;
    margin: 0 auto;
    margin-top: 25vh;
}
.current-ficha{
    background-color: darkslategray;
    color: white;
    display: block;
    padding: .5em 1em;
    text-align: center;
    margin: .5em 1em;
    font-size: 1em;
}