<div class="row">
  <div class="col-md-3">
    <md-list class="list">
      <h3 md-subheader>Tipo de Tramite<span *ngIf="router.url == '/tipo-tramites/nuevo'"> | Nuevo</span> <span *ngIf="router.url == '/tipo-tramites/lista'"> | Lista</span>
      </h3>
      <md-list-item>
        <md-icon md-list-icon>folder</md-icon>
        <h4 md-line><a routerLink="nuevo" class="list-link">Registrar Nuevo</a></h4>
        <p md-line> *Aqui registra nuevo tipo de tramite</p>
      </md-list-item>
      <md-list-item>
        <md-icon md-list-icon>folder</md-icon>
        <h4 md-line><a routerLink="lista" class="list-link">Listar Tipos de Tramite</a></h4>
        <p md-line> *Aqui encontraras el listado</p>
      </md-list-item>
    </md-list>
  </div>
  <div class="col-md-9 padding">
    <router-outlet></router-outlet>
  </div>
</div>