/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";

*{
    padding: 0;
    margin: 0;
}
body {
    font-family: Roboto;
    height: 100vh;
    background-color: #607D8B;
    padding: 0 5vw;
}
.bg{
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #F5F5F5;
    border-top: 5em solid #607D8B;
    border-bottom: 5em solid #607D8B;
    box-sizing: border-box;
}
.navegacion{
    width: 90vw;
    top: 0;
    left: 0;
    margin-right: 5vw;
    z-index: 100;
}
.center{
    display: block;
    margin: 0 auto;
    margin-top: 30vh;
}
.col-md-3, .col-md-4{
    box-shadow: 2px 0 2px darkslategray;
}
.card-visor{
    width: 99vw;
    height: 70vh;
    margin: 0 auto;
}
.card-visor > video{
    width: 100%;
}
.card-center{
    display: block;
    margin: 0 auto;
}
.video-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 70vh;
}
.fichas{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 30vh;
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: #fec342;
}
.ficha-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}
.ficha{
    height: 120px;
    padding: 5em 0;
}
.ficha-content{
    text-align: center;
}
.ficha-numero{
    color: #fec342;
    font-size: 4em;
}
.ficha-caja{
    font-size: 3em;
    animation: bigger 5s infinite;
}
.mensaje{
    z-index: 100;
    position: fixed;
    bottom: 30vh;
    left: 0px;
    font-size: 2em;
    color: white;
    /*font-family: Arial;*/
    background-color: rgba(0,0,0,.5);
    width: 100vw;
    padding: .5em 0;
    border-bottom: 4px solid #fff36d;
    color: #fec342;
    text-shadow: 0 0 2px #fe9613;
}
.logo{
    z-index: 1000;
    background-color: rgba(255,255,255,1);
    position: absolute;
    margin-top: -460px;
    margin-left: 25px;
    width: 180px;
    height: 180px;
}
.fill-remaining-space{
    flex: 1 1 auto;
}
.content{
    position: relative;
    box-sizing: border-box;
    width: 90vw;
    height: 91vh;
    margin: 0 auto;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
}
.padding{
    padding: 7.5vh 12em;
    box-sizing: border-box;
    background-color: #F5F5F5;
    min-height: 90vh;
}
.full-width{
    margin-top: 1em;
    width: 100%;
}
.row-center, .text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.margin-top{
    margin-top: 1em;
}
.margin-bottom{
    margin-bottom: 1em;
}
.button-visor{
    display: block;
    position: fixed;
    top: 66vh;
    left: 27.4vw;
    z-index: 1000;
}
/*------------------------------*/

.card {
    width: 400px;
}
.header-image {
 /*   background-image: url('../../../assets/img/examples/shiba1.jpg');*/
    background-size: cover;
    cursor: pointer;
}
.list{
    position: fixed;
    height: 91vh;
    color: white;
}
.list-link{
    color: #343027;
    font-weight: bold;
    text-decoration: none;
}
.page-not-found{
    padding-top: 10vh;
    font-size: 4em;
    text-align: center;
}
.page-not-found > img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.button-full{
    width: 100%;
    height: 4em;
    display: block;
    padding: 1em 0;
}
.bigger-font{
    font-size: 2em;
}
.box{
    margin-top: 1em;
}
table th{
    text-align: left;
}
table td, table th{
    font-size: .8em;
    padding: .3em .3em .3em .8em;
}
h6{
    display: block;
    margin-top: -1em;
    margin-bottom: 0;
    padding: .5em 1em;
    background-color: darkslategray;
    color: white;
}
.checkbox-section{
    display: flex;
    align-content: center;
    align-items: center;
    height: 40px;
}
.checkbox-item{
    margin-right: 1em;
    font-size: .8em;
}
input[type="file"]{
    background-color: beige;
    border: none;
    opacity: 0;
}
.video-file{
    display: block;
    width: 40%;
    margin: 0 auto;
    text-align: center;
    cursor: pointer;
}
.radio-group{
    display: block;
    background-color: white;
    padding: 1em 2em;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2em;
    border-radius: 2px;
    box-shadow: 1px 2px 5px lightgray;
}
.legend-title{
    display: block;
    font-size: 1.2em;
    font-weight:bold;
    width: 100%;
    text-align: center;
}
@keyframes bigger {
    0% { font-weight: lighter; }
    10% { font-weight: 100; }
    20% { font-weight: 200; }
    30% { font-weight: 300; }
    40% { font-weight: 400; }
    50% { font-weight: 500; }
    60% { font-weight: 600; }
    70% { font-weight: 700; }
    80% { font-weight: 800; }
    90% { font-weight: 900; }
    100% {  font-weight: bolder; }
}