<mat-card class="margin-bottom">
  <mat-card-header>
    <mat-card-title>VENTANILLA {{ asignacion_categoria.ventanilla.numero }} - {{ asignacion_categoria.categoria.descripcion }}</mat-card-title>
    <mat-card-subtitle>
      <mat-chip-list>
        <mat-chip color="primary" selected="true">Prioridad {{ asignacion_categoria.categoria.prioridad}}</mat-chip>
      </mat-chip-list>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>

  </mat-card-content>
  <mat-card-footer align="end">
    <button mat-icon-button (click)="destroy()"><mat-icon>delete</mat-icon></button>
  </mat-card-footer>
</mat-card>
